// Colors
$brand-color: #76b852;
$button-green: #4CAF50;
$white: #FFFFFF;
$form-input-background: #f2f2f2;
$hover-color: #add8e6;
$red: red;
$button-red: #f44336;
$button-blue: #00a2ed;
$button-search: #0d889c;
$light-green: #a2f7ab;
$button-black: #555555;
$light-grey: #D3D3D3;
$tomato-red: #FF6347;
$dark-grey: #808080;
// Spacing
$xxs-size: 0.1rem;
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$picker-size: 4.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.2rem;
$desktop-breakpoint: 45rem;
