.box-layout{
    background-color: $brand-color;
    align-items: center;
    background-size: cover;
    display: flex;
    height: 85vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background:$white;
    border-radius: 3px;
    padding: $l-size $m-size;
    text-align: center;
    width: 30rem;
}

.form-input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: $form-input-background;
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: $button-green;
    width: 100%;
    border: 0;
    padding: 15px;
    &:hover {
        color: $hover-color;
        cursor: pointer;
    }
    color: $white;
    font-size: 14px;
    transition: opacity 0.2s ease-in;   
}

.required {
    color: $red;
}

.horizontal-box {
    flex-direction: 'column';
}