.dashboard--main{
    background-color: $brand-color;
}

.dashboard--box{
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 87vh;
    padding: $m-size;
    margin: 0 auto;
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}

.add-expense-box{
    margin-top: $m-size;
    padding-bottom: $m-size;
}

.filter-component__box{
   margin: $m-size 0 0 0;
   border: $s-size;
   border-width: $xs-size;
}

.filter-component__body{
    display: flex;
    flex-direction: column;
    padding: $m-size $m-size $m-size 0;
}

.filter-component__form{
    display: flex;
    flex-direction: row;
}

.filter-component__form__input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: $form-input-background;
    width: 100%;
    height: 90%;
    font-size: $m-size;
    border: 0;
    margin: 0 0 $s-size;
}

.filter-component__form__search__by{
    padding: 0 $s-size 0 0;
}

.filter-component__form__select{
    background-color: $light-grey;
    &:hover {
        color: $white;
        cursor: pointer;
    }
    width: 100%;
    height: 100%;
}

.filter-component__form__select:disabled{
    background-color: $light-grey;
    width: 100%;
    height: 100%;
}

.filter-component__form__submit{
    width: 100%;
    height: 95%;
    background: $light-grey;
    &:hover {
        color: $white;
        cursor: pointer;
    }
}

.filter-component__sort{
    padding: $xs-size $xs-size 0 0;
    display: flex;
}

.filter-component__sort__button{
  margin-right: $xs-size;
  padding: $xs-size $m-size;
  text-align: center;
  display: inline-block;
  font-size: $m-size;
  background: $light-grey;
  &:hover {
    color: $white;
    cursor: pointer;
}
}

.add-expense-button{
    padding: $m-size;
    text-decoration: none;
    border: 0;
    border-radius: $s-size;
    background: $button-black;
    width: 200%;
    height: 200%;
    color: $white;
    &:hover {
        color: $hover-color;
        cursor: pointer;
    }
}

.expense-list__box{
    height: 100vh;
    overflow-y: scroll;
}

.picker {
    margin-right: $xs-size;
    grid-column: 5/10;
    grid-row: 2/4;
    font-size: $m-size;
    width: $xxl-size;
    height: $picker-size;
    background-color: $light-grey;
    &:hover{
        color: $white;
        cursor: pointer;
    }
  
    input {
      text-align: center;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid #E3B924;
    }
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}