.expense-item{
    max-width: 80rem;
}

.expense-item__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: $xxs-size solid;
    background: $light-green;
    border-radius: $xs-size;
    padding-bottom: $xs-size;
}

.expense-item__action__buttons{
    display: flex;
    flex-direction: column;
}

.expense-item__info{
    display: flex;
    flex-direction: column;
}

.separator{
    color: $light-grey;
}

.delete-expense{
    background: $button-red;
    color: $white;
    text-decoration: none;
    height: 50%;
    border-radius: $xs-size;
    &:hover {
        color: $hover-color;
        cursor: pointer;
    }
}

.expense-item__element{
    padding-left: $s-size;
    font-size: $m-size;
    font-family: "Roboto", sans-serif;
}

.edit-expense{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: $xs-size;
    padding-left: $m-size;
    background: $button-blue;
    color: $white;
    text-decoration: none;
    height: 50%;
    border-radius: $xs-size;
    &:hover {
        color: $hover-color;
        cursor: pointer;
    }
}

.no-items__box{
    display: flex;
    flex-direction: row;
    padding: $s-size 0;
    background: $hover-color;
}

.no-items__icon{
    padding: 0 $s-size 0 0;
}

.no-items__text{
    font-family: "Roboto", sans-serif;
}