.expense-form{
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 85vh;
    padding: $m-size;
    margin: 0 auto;
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}

.expense-form__form{
    padding: $l-size 0;
    background:$white;
    border-radius: 3px;
    width: 40rem;
}

.expense-form__input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: $form-input-background;
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.expense-form__select{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: $form-input-background;
    height: $xl-size;
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    &:hover {
        color: $white;
        cursor: pointer;
    }
}

.expense-form__button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: $button-green;
    width: 40rem;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    &:hover {
        color: $hover-color;
        cursor: pointer;
    }
    color: $white;
    font-size: 14px;
    transition: opacity 0.2s ease-in;   
}