.navbar-box{
    background: #20222b;
    color: $white;
    height: 10vh;
    width: 100vw;
    padding: $s-size 0;
    margin: 0 auto;
}

.navbar-box__content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.navbar-box__content_header{
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}

.navbar-link__expensify{
    color: $white;
    font-size: $l-size;
    &:hover {
        color: $hover-color;
        cursor: pointer;
    }
}

.navbar-link{
    color: $white;
    font-size: $l-size;
    float: right;
    padding-right: $xs-size;
    &:hover {
        color: $hover-color;
        cursor: pointer;
    }
}

.navbar-link__anchor{
    color: $white;
    font-size: $l-size;
    float: right;
    padding-right: $m-size;
    &:hover {
        color: $hover-color;
        cursor: pointer;
    }
    text-decoration: none;
}