.navbar-box{
    background: #20222b;
    color: $white;
    height: 10vh;
    padding-top: $l-size;
    width: 100vw
}

.navbar-link__expensify{
    color: $white;
    font-size: $l-size;
}

.navbar-link{
    color: $white;
    font-size: $l-size;
    float: right;
    padding-right: $m-size;
}

.navbar-link__anchor{
    color: $white;
    font-size: $l-size;
    float: right;
    padding-right: $m-size;
    text-decoration: none;
}